*{
    margin: 0;
    text-align: center;
}
body{
    background: linear-gradient(90deg,red,grey,pink);
}
table{
    width: 100%;
    margin: 30px;
}
img{
    border-radius:10px ;
    box-shadow: 0 0 10px black;
}

#header{
    background-color: yellow;
    height: 70px;
}
h1{
    color:blueviolet;
}
#brand{
  width: 40%;
  float: left;
  height: 70px;
  line-height: 70px;
  text-align: center;
  
}

#menu{
    width: 60%;
    float: right;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

a{
    color: black;
    margin-right: 30px;
    text-decoration: none;
}
#title{
    margin-top: 35px;
}
#pasta{
    margin-top: 20px;
}
#CP{
    background: linear-gradient(45deg,black,darkblue);
    color: coral;
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin: 30px auto;
}
#CF{
    background: linear-gradient(45deg,black,green);
    color: whitesmoke;
    width:500px ;
    padding: 15px;
    border-radius: 50%;
    margin: 30px auto;
}
#CM{
    background: linear-gradient(45deg,black,gold);
    width: 500px;
    padding: 15px;
    border-radius: 50%;
    margin: 30px auto;
}
#footer{
    background: black;
    padding: 50px;
    color: cornsilk;
    margin: 50px;

}